@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #000;
    transition: all 0.4s;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#loading>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading>h1 {
    font-size: 4rem;
}

.container {
    width: 340px;
    max-width: 768px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(66, 68, 90, 0.54);
    -moz-box-shadow: 0px 0px 20px 1px rgba(66, 68, 90, 0.54);
    box-shadow: 0px 0px 20px 1px rgba(66, 68, 90, 0.54);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 12px 10px 5px;
    text-align: center;
}

.box-logo {
    margin: 5px;
    position: relative;
    top: -20px;
}

.box-logo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img {
    display: flex;
    justify-content: center;
    padding: 0 10px 3px 10px;
    visibility: hidden;
}

.img-left,
.img-right {
    max-width: 50%;
    height: auto;
    border-radius: 40px;
}

.paragraph {
    margin: 10px 0;
}

.paragraph p {
    margin: 5px 0;
}

.border-img {
    background-color: #1312120f;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
    border-radius: 30px;
}

.border-img p {
    display: inline-flex;
    min-width: 40%;
    margin-top: 5px;
}

.border-img .p-yours {
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.border-img .p-machine {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.buttons-footer button {
    font-size: 2rem;
    background: transparent;
    border: none;
    border-radius: 20px;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
}

#result {
    font-weight: 700;
    height: 36px;
}

#rock {
    background-color: cadetblue;
}

#paper {
    background-color: darkmagenta;
}



#scissors {
    background-color: lightgreen;
}

#rock:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #000 inset;
    transition: .6s;
}

#paper:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #000 inset;
    transition: .6s;
}

#scissors:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #000 inset;
    transition: .6s;
}

.yours-score span {
    color: rgb(23, 162, 13);
    font-weight: 700;
}

.machine-score span {
    color: rgb(183, 20, 20);
    font-weight: 700;
}

#dark-mode {
    position: absolute;
    left: -999999px;
}

#ios-dark-mode {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
}

#ios-dark-mode::before,
#ios-dark-mode::after {
    content: "";
    transition: all 0.35s ease;
}

#ios-dark-mode::before {
    display: inline-block;
    background-color: #BDBDBD;
    width: 2.5rem;
    height: 1.25rem;
    border-radius: .625rem;
}

#ios-dark-mode::after {
    position: absolute;
    top: 0.05rem;
    left: 0.055rem;
    background-color: #fff;
    width: 1.2rem;
    height: 1.15rem;
    border-radius: 100%;
}

#dark-mode:checked+#ios-dark-mode::before {
    background-color: #2EFE64;
}

#dark-mode:checked+#ios-dark-mode::after {
    background-color: #2E2E2E;
    left: 1.235rem;
}

.dark-mode {
    background-color: #333;

}

.cont-dark {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(237, 237, 245, 0.54);
    -moz-box-shadow: 0px 0px 10px 1px rgba(237, 237, 245, 0.54);
    box-shadow: 0px 0px 10px 1px rgba(237, 237, 245, 0.54);
    background-color: #333;
    color: #fff;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box-button-reset button {
    border: none;
    background: transparent;
}

.box-button-reset button img {
    width: 1.9rem;
    height: 1.9rem;
}

@media screen and (max-width:768px) {
    section p {
        font-size: 0.8rem;
    }

    .container {
        margin: 20px;
    }

    #loading>img {
        width: 80%;
        height: 80%;
    }

    #loading>h1 {
        font-size: 2.5rem;
    }

}